
@{
    ViewBag.Title = "新闻管理";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

@inherits System.Web.Mvc.WebViewPage


<div id="content">
    <table class="itemdiv" id="tab">
        <tr>
            <th>发布时间</th>
            <th>新闻标题</th>
            <th>新闻分类</th>
            <th>操作</th>
        </tr>
        <tr>
            <td>2017-09-29</td>
            <td>迎接十一海鲜大促销</td>
            <td> 公司新闻</td>
            <td>
                <a class="" href="/News/NewsUpdate?newsId=1000&amp;categoryId=1">修改</a>
                <a href="/News/DeleteNews?newsId=1000" onclick="return confirm(&#39;确定要删除吗?&#39;)">删除</a>
            </td>
        </tr>
    </table>
    @* <div class="itemdiv">
            <div class="newsitem-title-1">
                发布时间
            </div>
            <div class="newsitem-title-2">
                新闻标题
            </div>
            <div class="newsitem-title-2">
                新闻分类
            </div>
            <div class="newsitem-title-3" style="width: 110px;">
                操作
            </div>
            <div class="newsitem-title-1">
                2017-09-29
            </div>
            <div class="newsitem-title-2">
                <a href='/News/NewsUpdate?newsId=1000' target="_blank">
                    迎接十一海鲜大促销
                </a>
            </div>
            <div class="newsitem-title-2">

                公司新闻
            </div>
            <div class="newsitem-title-3" style="width: 110px;">
                <a class="" href="/News/NewsUpdate?newsId=1001&amp;categoryId=1">修改</a>
                <a href="/News/DeleteNews?newsId=1001" onclick="return confirm(&#39;确定要删除吗?&#39;)">删除</a>
            </div>
            <div class="newsitem-title-1">
                2017-09-29
            </div>
            <div class="newsitem-title-2">
                <a href='/News/NewsUpdate?newsId=1001' target="_blank">
                    本店正在热招加盟商
                </a>
            </div>
            <div class="newsitem-title-2">

                公司新闻
            </div>
            <div class="newsitem-title-3" style="width: 110px;">
                <a class="" href="/News/NewsUpdate?newsId=1001&amp;categoryId=1">修改</a>
                <a href="/News/DeleteNews?newsId=1001" onclick="return confirm(&#39;确定要删除吗?&#39;)">删除</a>
            </div>
            <div class="newsitem-title-1">
                2017-09-29
            </div>
            <div class="newsitem-title-2">
                <a href='/News/NewsUpdate?newsId=1002' target="_blank">
                    互联网的消费正在兴起
                </a>
            </div>
            <div class="newsitem-title-2">

                社会新闻
            </div>
            <div class="newsitem-title-3" style="width: 110px;">
                <a class="" href="/News/NewsUpdate?newsId=1002&amp;categoryId=2">修改</a>
                <a href="/News/DeleteNews?newsId=1002" onclick="return confirm(&#39;确定要删除吗?&#39;)">删除</a>
            </div>
            <div class="newsitem-title-1">
                2017-09-29
            </div>
            <div class="newsitem-title-2">
                <a href='/News/NewsUpdate?newsId=1003' target="_blank">
                    本店正在热招加盟商
                </a>
            </div>
            <div class="newsitem-title-2">

                公司新闻
            </div>
            <div class="newsitem-title-3" style="width: 110px;">
                <a class="" href="/News/NewsUpdate?newsId=1003&amp;categoryId=1">修改</a>
                <a href="/News/DeleteNews?newsId=1003" onclick="return confirm(&#39;确定要删除吗?&#39;)">删除</a>
            </div>
            <div class="newsitem-title-1">
                2017-09-29
            </div>
            <div class="newsitem-title-2">
                <a href='/News/NewsUpdate?newsId=1004' target="_blank">
                    互联网的消费正在兴起
                </a>
            </div>
            <div class="newsitem-title-2">

                社会新闻
            </div>
            <div class="newsitem-title-3" style="width: 110px;">
                <a class="" href="/News/NewsUpdate?newsId=1004&amp;categoryId=2">修改</a>
                <a href="/News/DeleteNews?newsId=1004" onclick="return confirm(&#39;确定要删除吗?&#39;)">删除</a>
            </div>

        </div>*@

</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(function () {
        $.ajax({
            url: "/News/GetAllNews",
            type: "post",
            dataType: "json",
            success: function (data) {
                console.log(data);
                /*这个方法里是ajax发送请求成功之后执行的代码*/
                //showData(data);//我们仅做数据展示
            },
            error: function (msg) {
                alert("ajax连接异常：" + msg);
            }
        });

    });
    //展示数据
    function showData(data) {
        var str = "";//定义用于拼接的字符串
        for (var i = 0; i < data.length; i++) {
            //拼接表格的行和列
            str = "<tr><td>" + data[i].name + "</td><td>" + data[i].password + "</td></tr>" + "</td><td><a class='' href='/ News / NewsUpdate ?  newsId = " + 1004 + " & amp; categoryId = 2'>修改</a>< a href = '/News/DeleteNews?newsId = " + 1004 + "' onclick = 'return confirm(&#39;确定要删除吗?&#39;)' > 删除</a ></td></tr>";
            //追加到table中
            $("#tab").append(str);
        }

    }





</script>