@{
    ViewBag.Title = "菜品修改";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

@inherits System.Web.Mvc.WebViewPage

<div id="content">
    <link href="~/Styles/Dishes.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/validation-min.js"></script>
    <script src="~/Scripts/uploadPreview.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#dishesImg").uploadPreview({ Img: "imghead", width: 302, Height: 227 })
        });
    </script>

    <form action="" enctype="multipart/form-data" id="mainForm" method="post" name="mainForm">
        <div class="txtItemdiv">
            <div class="itemtitle">
                菜品名称：
            </div>
            <div class="itemcontent">
                <input class="txt" id="DishesName" name="DishesName" type="text" value="" />
                <span style="color:red">*</span>
            </div>
        </div>
        <div class="txtItemdiv">
            <div class="itemtitle">
                菜品价格：
            </div>
            <div class="itemcontent">
                <input class="txt" id="UnitPrice" name="UnitPrice" type="text" value="" />
                <span style="color:red">*</span>
            </div>
        </div>
        <div class="txtItemdiv">
            <div class="itemtitle">
                菜品分类：
            </div>
            <div class="itemcontent">
                <select id="CategoryId" name="CategoryId">
                    <option selected="selected" value="1">川菜</option>
                    <option value="2">湘菜</option>
                    <option value="3">鲁菜</option>
                    <option value="4">海鲜类</option>
                    <option value="5">其他</option>
                </select>
                <span style="color:red">*</span>
            </div>
        </div>
        <div class="txtItemdiv">
            <div class="itemtitle">
                菜品图片：
            </div>
            <div class="itemcontent">
                <img id="imghead" src="~/WebHotelManage/Css/Images/default.png" width="302" height="227" />  （要求图片必须小于2M）
            </div>
        </div>
        <div class="txtItemdiv">
            <div class="itemtitle">
                要上传的图片：
            </div>
            <div class="itemcontent">
                <input type="file" id="dishesImg" name="dishesImg" />
            </div>
        </div>
        <div class="txtItemdiv">
            <div class="itemtitle" style="margin-left:80px;">
                <button class="btncss" type="submit" id="btnAdd" formaction="EidtDishes">新增菜品</button>
            </div>
        </div>
    </form>
</div>
