<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionString value="database=logger;server=.;Uid=sa;Pwd=123456;Connect Time=15"/>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

    <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <!--<appender-ref ref="EventLogAppender" />-->
    </root>
    <!--定义日志输出附加器为输出到文件中-->
    <appender name ="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <param name="File" value ="logs\"/>
      <!--是否向文件中追加日志-->
      <param name="AppendToFile" value="true" />
      <!--保留日志天数-->
      <param name="MaxSizeRollBackups" value="100" />
      <!--一个日志文件最大大小-->
      <param name="MaxFileSize" value="10240" />
      
      <param name="StaticLogFileName" value="false" />
      <!--定义文件名格式为日期格式-->
      <param name="DatePattern" value="yyyy\\MM\\yyyy-MM-dd'.log'" />
      <!--<param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>-->
      
      <!--日志根据日期滚动1-->
      <param name="RollingStyle" value ="Date" />
      <!--不以独占方式记录日志,仅在记录每个日志的最短时间内锁定,因为部署到服务器上遇到了文件被占用无法下载日志-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--日志根据日期滚动2设置格式-->
      <layout type="log4net.Layout.PatternLayout">
        <!--定义输出格式-->
        <!--示例 2018-08-20 12:10:49,348 -线程ID:[21] 日志级别:[INFO ] : [日志信息]-->
        <param name="ConversionPattern" value="-------------------------------------------最新日志的输出------------------------------------------- %newline %date 线程ID:[%thread] 日志级别:[%-5level] : [%message] %logger %newline"/>
      </layout>
      
      <!--过滤级别 FATAL > ERROR > WARN > INFO > DEBUG-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>
    <!--定义输出到 windows 事件中-->
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"></conversionPattern>
      </layout>
    </appender>
  </log4net>
</configuration>