
@{
    ViewBag.Title = "预定管理";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

@inherits System.Web.Mvc.WebViewPage

        <div id="content">
            <div class="itemdiv">
                <div class="book-title">
                    酒店名称
                </div>
                <div class="book-title">
                    消费时间
                </div>
                <div class="book-title">
                    消费人数
                </div>
                <div class="book-title">
                    包间类型
                </div>
                <div class="book-title">
                    客户姓名
                </div>
                <div class="book-title">
                    联系电话
                </div>
                <div class="book-title" style="width: 152px;">
                    操作
                </div>

                <div class="book-title">
                    天津南开店
                </div>
                <div class="book-title">
                    2014/9/11 12:30:00
                </div>
                <div class="book-title">
                    5 人
                </div>
                <div class="book-title">
                    包间
                </div>
                <div class="book-title">
                    李丽
                </div>
                <div class="book-title">
                    13589011222
                </div>
                <div class="book-title" style="width: 152px;">
                    <a href='ModifyBook?statId=1&BookId=10000'>通过</a>
                    <a href='ModifyBook?statId=-1&BookId=10000'>撤销</a>
                    <a href='ModifyBook?statId=2&BookId=10000' onclick='if(confirm("确定要删除吗?")==false) return false;'>删除</a>
                </div>
                <div class="bookdetail">
                    <div class="book-Time">
                        预定时间： 2017/9/29 17:38:21
                    </div>
                    <div class="book-Time">
                        电子邮件：lilivip@163.com
                    </div>
                    <div class="book-Time">
                        预定状态：0  &nbsp;（0：未审核&nbsp;1：审核通过）
                    </div>
                    <div class="book-comment">
                        预定其他要求：希望房间敞亮些
                    </div>
                </div>
                <div class="book-title">
                    天津和平店
                </div>
                <div class="book-title">
                    2014/10/11 14:30:00
                </div>
                <div class="book-title">
                    5 人
                </div>
                <div class="book-title">
                    包间
                </div>
                <div class="book-title">
                    王鑫新
                </div>
                <div class="book-title">
                    13889018888
                </div>
                <div class="book-title" style="width: 152px;">
                    <a href='ModifyBook?statId=1&BookId=10001'>通过</a>
                    <a href='ModifyBook?statId=-1&BookId=10001'>撤销</a>
                    <a href='ModifyBook?statId=2&BookId=10001' onclick='if(confirm("确定要删除吗?")==false) return false;'>删除</a>
                </div>
                <div class="bookdetail">
                    <div class="book-Time">
                        预定时间： 2017/9/29 17:38:21
                    </div>
                    <div class="book-Time">
                        电子邮件：wangxinxin@qq.com
                    </div>
                    <div class="book-Time">
                        预定状态：0  &nbsp;（0：未审核&nbsp;1：审核通过）
                    </div>
                    <div class="book-comment">
                        预定其他要求：希望房间安静些
                    </div>
                </div>
                <div class="book-title">
                    北京朝阳点
                </div>
                <div class="book-title">
                    2014/12/10 17:30:00
                </div>
                <div class="book-title">
                    5 人
                </div>
                <div class="book-title">
                    散座
                </div>
                <div class="book-title">
                    刘花雨
                </div>
                <div class="book-title">
                    13689011999
                </div>
                <div class="book-title" style="width: 152px;">
                    <a href='ModifyBook?statId=1&BookId=10002'>通过</a>
                    <a href='ModifyBook?statId=-1&BookId=10002'>撤销</a>
                    <a href='ModifyBook?statId=2&BookId=10002' onclick='if(confirm("确定要删除吗?")==false) return false;'>删除</a>
                </div>
                <div class="bookdetail">
                    <div class="book-Time">
                        预定时间： 2017/9/29 17:38:21
                    </div>
                    <div class="book-Time">
                        电子邮件：liuhuayu@126.com
                    </div>
                    <div class="book-Time">
                        预定状态：0  &nbsp;（0：未审核&nbsp;1：审核通过）
                    </div>
                    <div class="book-comment">
                        预定其他要求：房间靠里面点儿
                    </div>
                </div>
            </div>
        </div>
        
