
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

@inherits System.Web.Mvc.WebViewPage

        <div id="content">
            <div id="welcomediv">
                欢迎您使用本系统，祝您工作愉快！
            </div>
        </div>
        